.book-edit {
    margin-block: 1em;
}

.book-edit form {
    display: flex;
    flex-direction: column;
}

.book-edit form input, .book-edit form button {
    padding: 0.5em;
    font-size: 1.2rem;
    margin: 0;
    margin-block-end: 1em;
    max-width: 500px;
}